{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.yaml",
        "*.yml"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
